body, button, input {
    margin: 0;
    border: none;
    padding: 0;
    outline: none;
}

body{
    text-align: center;
    background: #1D1D23;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}

.timer-input-section {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

input[type="number"]{
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#start-timer {
    padding: 8px 20px;
    background-color: #7ff630;
    color: #191717;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    transition: background-color 0.4s ease;
}

#start-timer:hover {
    background-color: #baf474;
}

.active-timer {
    border: 1px solid #444149;
    padding: 10px;
    margin: 10px;
    background-color: #444149;
    color: #fff;
    border-radius: 7px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.active-timer .timer-display {
    font-size: 24px;
    /* background-color: #d4de15; */
    /* color: #0c0707; */
}

.active-timer button {
    padding: 8px 20px;
    background-color: #e7f828;
    color: #0c0707;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: background-color 0.4s ease;
}

.active-timer button:hover {   
    background-color: #d4de15;
    color: #0c0707;
}

.timerShow {
    /* text-align: center; */
    margin: 20px;
    margin-left: 40%;
    padding: 5px;
    border: 1px solid #444149;
    background: #444149;
    border-radius: 15px;
    width: 200px;
    
}